/* ======= VARIABLE ======= */

:root {
    --text-font: "Roboto", sans-serif;
    --title-font: "Roboto", sans-serif;
    --accent-color: #2196F3;
    --primary-white-color: #F5F4FA;
}

/* ======= END VARIABLE ======= */

/* ======= BODY ======= */

.body {
    font-family: var(--text-font);
    color: #757575;
    } 
    
/* ======= END BODY ======= */

/* ======= HEADER ======= */
    
.logotype {
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    }

.logo-span {
    color: #212121;
    }

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;

    }

.navigation-list-link:hover,
.navigation-list-link:focus {
    color: var(--accent-color)
    }

.header-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    }

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--accent-color)
    }

/* ======= END HEADER ======= */

/* ======= HERO ======= */

.hero {
    background: #2F303A;
}

.hero-title {
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    }
 
.hero-btn {
    font-family: var(--text-font);
    background-color: var(--primary-white-color);
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    cursor: pointer;
  }

.hero-btn:hover,
.hero-btn:focus {
    color: white;
    background-color: var(--accent-color)
}

/* ======= END HERO ======= */
  
/* ======= TITLE ======= */  
  
.title {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

/* ======= END TITLE ======= */  

/* ======= PRIORITIES ======= */ 

.priorities-list-title {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #212121;
}

.priorities-list-subtitle {
    font-family: var(--text-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

/* ======= END PRIORITIES ======= */ 

/* ======= PORTFOLIO ======= */

.portfolio-button-item {
    font-family: var(--text-font);
    background-color: var(--primary-white-color);
    width: 128px;
    height: 38px;
    left: 576px;
    top: 174px;
    cursor: pointer;
  }

.portfolio-button-item:hover,
.portfolio-button-item:focus {
    color: white;
    background-color: var(--accent-color);
}

.item-name {
    font-family: var(--text-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;    
}

.item-description {
    font-family: var(--text-font);
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
}
/* ======= END PORTFOLIO ======= */

/* ======= FOOTER ======= */

.footer {
    background: #2F303A;
}

.footer-logotype {
    font-family: var(--text-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    text-decoration: none;
    }

.footer-logo-span {
    color: #FFFFFF;
    }

.footer-list-link-maps {
    font-family: var(--text-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-list-link-maps:hover,
.footer-list-link-maps:focus {
    color: var(--accent-color);
}

.footer-list-link,
.footer-list-link {
    font-family: var(--text-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

}

.footer-list-link:focus,
.footer-list-link:hover {
    color: var(--accent-color);
}

.footer-addres {
    font-style: normal;
}

/* ======= END FOOTER ======= */